.feed{
    flex: 5.5;
    height: calc(100vh - 50px) ; 
    overflow-y: scroll;
}
.feedprofile{
    flex: 5.5;
    height: calc(100vh - 50px) ; 
     
}

.feed:hover::-webkit-scrollbar-thumb{
  
    background-color: rgb(190, 199, 199);

}

.feedWrapper{
    padding: 20px;
}

.share{
     width: 100%;
      
     border-radius: 10px;
     -webkit-box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.65); 
     box-shadow: 2px 2px 13px 1px rgba(0,0,0,0.65);

}

/* Just for testing  the composes method  */
 .shareImage{
      composes :  lfimage from "../leftbar/LeftBar.module.css" ; 
      width: 50px;
      height: 50px;
      cursor: pointer;
      padding: 10px ; 
 }

 .sharetop {
     display: flex;
     align-items: center;
 }
 .shareInput{
     border: none;
     width: 80%;
      

 }

 .shareInput:focus{
    outline: none;
 }

 .sharehr{
     margin: 20px;
 }
.sharedimgcontainer{
     position: relative;
     padding: 0 20px 10px 20px ;
     z-index: 2;
}
.sharedimg{
    object-fit: cover ; 
    width: 100%;
}
.cancle{
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    opacity: 0.7;
     background-color: rgb(5, 5, 5);
     color: rgb(202, 202, 202);
      
      
    
}
 .sharebottom {
     display: flex;
     align-items: center;
     
 }

 .shareoptions{
     display: flex;
      
     align-items: center;
 }

.shareoption{
    display: flex;
    align-items: center;
    margin-left: 10px; 
    cursor: pointer;
}

.shareicon {
    font-size: 18px;
    margin-right: 3px;
}

.shareText{
    font-size: 14px;
    font-weight: 400;

}

.sharebtn{
    border: none;
    border-radius: 5px;
   background-color: green;
    padding: 7px;
    font-weight: 500;
   
    color: white;
    margin-left: 30px;
    width: 100px;
    height: 40px;
    margin-left: 70px;
     margin-bottom: 10px;

}
.sharebtn:hover{
    cursor: pointer;
}